/*常见分类*/
*{
	margin:0;
	padding: 0;
}
.fright a{
	color: #9e350e;
}
section{
	background-color: #eeece9;
	padding: 30px 10px;
}
.section{
	width: 1000px;
	margin:auto;
	padding: 30px;
	background-color: #fff;
}
.section span{
	font-size: 30px;
}
.section a{
	font-size: 20px;
	margin: 0 24px;
	text-decoration: none;
	color:orange;
}
.section a:hover{
	background-color: orange;
	color:#fff;
	text-decoration: underline;
}
.section .Popular-categories{
	background-color: orange;
	color: #fff;
}
.fixedul{/*ul 的定位*/
	padding-left: 40px;
	padding-bottom: 5px;
	overflow: hidden;
	list-style-type: none;
}
.fixedul li{
	float: left;
	width: 85px;
	line-height: 23px;
	white-space: nowrap;
}
.fixedul li a{
	color: #666;
	font-size: 16px;
	background-color: #fff;
}
.fixedul li a:hover{
	text-decoration: underline;
}