*{
	margin:0;
	padding:0;
	font-size: 16px;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration:underline;
}
li{
	list-style: none;
}
div{
	overflow: hidden;
}
.wh0{
	display: inline-block;
	width: 300px;
	margin:0;
	float: left;
	position: relative;
	z-index: 101;
}
.wh0 a{
	display: inline-block;
	width:100px;
	height:30px;
}
.hovershow{
	width: 90px;
}
.fleft a{
	color: #9e350e;
}
.fleft a:hover{
	background-color: #9e350e;
	color: #fff;
}
.header1{
	width: 100%;
	height: 77px;
	background-color: #FFFAF7;
	border-bottom: 1px solid #ECE7DF;
}
.header2{
	width: 100%;
	height: 45px;
	background-color: #FFFAF7;
	line-height: 45px;
}
.fristrow{
	margin:auto;
	width: 1000px;
	height: 77px;
	line-height: 77px;
	background-color: #FFFAF7;
}
.secrow{
	margin:auto;
	width: 1000px;
}
.title{
	color:#9E350E;
	font-size: 40px;
}
/*左右浮动*/
.fleft{
	float:left;
}
.fright{
	float:right;
}

/*搜索框*/
.title+input{
	padding-left: 5px;
	margin-left:15px;
	width: 219px;
	height: 32px;
	position:relative;
	bottom:8px;
}
.title+input+img{
	display:inline-block;
	height: 32px;
	width: 70px;
	position:relative;
	top: -9px;
}

li{
	margin:auto 10px;
}
/*隐藏*/
.menuclass{
	width: 200px;
	margin:0;
	height: 405px;
	display: none;
	position: relative;
	top: 10px;
	left: 10px;
}
.header2 img{
	width: 20px;
	height: 20px;
}
.bigfont{
	font-size: 16px;
	color:#993300;
}
li{
	position:relative;
	top:0;
	left:0;
}
li div{
	background-color: #F9F9F9;
}
th a{
	color:#993300;
}
td a{
	color:#666666;
}
[colspan="3"]{
	text-align: center;
}




/*页脚设置*/
footer{
	height: 207px;
	width: 100%;
	background-color: #D6D4D0;
}
.foot{
	width: 1000px;
	padding-top:20px;
	margin-bottom:-20px;
	margin:auto;
}
.foot div{
	width: 670px;
}
.inblock{
	display: inline-block;
}
.textRight{
	text-align:right;
}
textarea{
	width: 242px;
	height: 62px;
}
.font14{
	font-size:14px; 
}
.textRight input{
	font-size: 16px;
	width: 80px;
	height: 28px;
	background-color: #D1B3A4;
	color:#993300;
	border:none;
}
body{
	background-color: #EEECE9;
}