button{
	line-height: 20px;
	margin:0 5px;
}
button img{
	width: 20px;
}
*{
	border:none;
	text-align: center;
	background-color: #EEEEEE;
}
a{
	text-decoration:none;
	color:black;
}
b{
	font-size:26px;
}
h1{
	font-size: 39px;
	margin-top: 36px;
}
h1 a{
	color:#A32500;
}
.blue{
	background-color: #4A95CE;
	color:#fff;
	width: 170px;
	height: 32px;
	margin-bottom: 51px;
}
.red{
	background-color: #D72829;
	color:#fff;
	width: 170px;
	height: 32px;
	margin-bottom: 51px;
}
.p30{
	padding:27px 0;

}
.m14{
	padding:14px 0;
}
div,
form{
	width: 450px;
	margin:1px auto;
	background-color: #fff;
}
[value="登录"]{
	width: 171px;
	height: 35px;
	margin-top:28px;
	margin-bottom: 50px;
}

form [type="text"],
form [type="password"]{
	text-align: left;
	border:1px solid #bbb;
	width: 250px;
	height: 35px;
	background-color: #fff;
	margin-bottom: 20px;
}